<nav
  class="fixed top-0 left-0 w-full bg-white/95 backdrop-blur-md border-b border-gray-100 font-manrope shadow-lg z-50"
>
  <div class="max-w-7xl mx-auto px-6 h-20 flex items-center justify-between">
    <a href="#hero" (click)="setActiveSection('hero')" class="flex items-center">
      <img src="/icon/icon.png" alt="Pinjam100" class="h-10 w-auto" />
    </a>

    <div class="flex flex-row justify-end items-center">
      <ul class="hidden md:flex items-center gap-9 text-gray-700 font-medium text-md me-15">
        <li>
          <a
            href="#simulasi"
            (click)="setActiveSection('simulasi')"
            [class.text-blue-700]="activeSection === 'simulasi'"
            class="hover:text-blue-700 transition"
            >Simulasi</a
          >
        </li>
        <li>
          <a
            href="#cara-pengajuan"
            (click)="setActiveSection('cara-pengajuan')"
            [class.text-blue-700]="activeSection === 'cara-pengajuan'"
            class="hover:text-blue-700 transition"
            >Cara Pengajuan</a
          >
        </li>
        <li>
          <a
            href="#mengapa-kami"
            (click)="setActiveSection('mengapa-kami')"
            [class.text-blue-700]="activeSection === 'mengapa-kami'"
            class="hover:text-blue-700 transition"
            >Mengapa Kami</a
          >
        </li>
      </ul>

      <div class="flex items-center gap-4">
        <button
          (click)="downloadRequested.emit()"
          class="bg-blue-700 hover:bg-blue-800 text-white px-5 py-2.5 rounded-lg text-md font-bold transition"
        >
          DAFTAR
        </button>
      </div>
    </div>
  </div>
</nav>
